@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@500;700&family=Vujahday+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* .text-color{
    color: white;
} */

.main-menu{
    display: flex;
    margin: 10px;
    /* float: right; */
}
.title{
    font-size: 20px;
    margin-left: 45px;
    margin-right: 65%;
}

nav > ul{
    display: flex;
    justify-content: flex-end;
}
nav li{
    margin-right: 1em;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
}


 .container{
    max-width: 1200px;
    margin: 0 auto;
    height: 300px;
 }

.banner{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 100vh;
}
.banner-left{
    flex: 1;
    align-items: center;
}
.banner-title{
    font-size: 40px;
}

.transition-effect{
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.transition-effect::before{
content: 'Photographer';
position: absolute;
color: black;
top: 0;
left: 0;
animation: typing 4s infinite;
}

@keyframes typing{

0%{
    content: 'P_';
}
5%{
    content: 'Ph_';
}
10%{
    content: 'Pho_';
}
15%{
    content: 'Phot_';
}
20%{
    content: 'Photo_';
}
25%{
    content: 'Photog_';
}
30%{
    content: 'Photogr_';
}
35%{
    content: 'Photogra_';
}
40%{
    content: 'Photograp_';
}
45%{
    content: 'Photograph_';
}
50%{
    content: 'Photographe_';
}
55%{
    content: 'Photographer_';
}
60%, 88%{
    content: 'Photographer_';
}
89%{
content: 'Photographe_';
}
90%{
content: 'Photograph_';
}
91%{
    content: 'Photograp_';
}
92%{
    content: 'Photogra_';
}
93%{
    content: 'Photogr_';
}
94%{
    content: 'Photog_';
}
95%{
    content: 'Photo_';
}
96%{
    content: 'Phot_';
}
97%{
    content: 'Pho_';
}
98%{
    content: 'Ph_';
}
99%{
    content: 'P_';
}
100%{
    content: '_';
}
}


.banner-text{
    line-height: 1.5;
    margin: 20px;
}
.photo img{
    height: 300px;
    width: 300px;
    border-radius: 7px;
}
.preebook-now-button{
    background-color: #E02C6D;
    color: white;
    padding: 10px 20px;
    border: solid #E02C6D;
    border-radius: 30px;
}

.company-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-left: 0;
    border-right: 0;
    margin-top: 45px;
    margin-bottom: 45px;
}
.logo img{
    margin-right: 90px;    
}
.section-title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 40px;
}
.all-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    margin-left: 400px;
    width: 200px;
    justify-content: space-between;
}
.collection{
    width: 300px;
    padding: 5%;
    background-color: white;
    margin: 20px;
    border-radius:10px ;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #aeaeae;
}

.short-info{
    font-weight: bold;
}

.see-more{
    background: none;
    color: #E02C6D;
    margin-top: 10px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    justify-content: flex-end;
}
.f-image img{
width: 150px;
height: 150px;
}

.feature-section{
    max-width: 1200px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 40px;
}
.feature-info{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* height: 100vh; */
    border: 2px solid black;
    border-radius: 10px;
    border-left: 0;
    border-right: 0;
}
.i-future{
    margin: 20px;
}
.join-us{
    background-color: #E02C6D;
    color: white;
    padding: 10px 20px;
    border: solid #E02C6D;
    border-radius: 30px;
}
.f-title{
    font-size: 30px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
}
.fab{
color: white;
margin-left: 10px;
margin-top: 5px;
font-size: 20px;
}

@media only screen and (max-width:688px){
    .container, .feature-section, .ftr{
        width: 100%;
    }
    .company-logo{
        grid-template-columns: repeat(1, 1fr);
    }
    .collection-section{
        flex-direction: column;
    }

@media only screen and (min-width:688px) and (max-width:992px){
    .container, .feature-section, .ftr{
        width: 100%;
    }
  .company-logo {
     grid-template-columns: repeat(2, 1fr);
 }
 .collection-section{
    grid-template-columns: repeat(1, 1fr);
 }
}